.body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
}


.page-header {}

.page-header__nav{
    display: inline-block;
}

.page-header__nav-link{
    margin: 0 25px;
    color:   #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    
}

.page-header__user-htn {
    box-sizing: border-box;
    text-decoration: none;
    padding: 15px 40 px;
    background-color: transparent;
    border: 1px solid #1f1e1e;
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    color: #1f1e1e;
}

.page-footer {

}
